.alert-custom{
	color:#220305;
	background-color: #d7f8dd;
	border-color:#cff6e7;
}
/*
#Home1{
	padding: 70px;
	background-color: black;
	height: 100px;
}

#service2{
	padding: 70px;
	background-color: green;
	height: 100px;
}

#about3{
	padding: 70px;
	background-color: yellow;
	height: 100px;
}*/